/* SEÇÃO 1 */

.secao1 {
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    height: 80vh;
    background-image: url("../img/banner-home-artz.jpg");
    background-color: rgba(0, 0, 0, 0.527);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.secao1 .container, .secao2 .container {
    flex-direction: column;
}

.secao1 .container {
    flex-direction: column;
    color: white;
}

.secao1 .titulo {
    display: flex;
    height: 45%;
    font-size: 2rem;
    align-items: center;
}

.titulo h2 {
    font-weight: 500;
    max-width: 500px;
}

.subtitulo {
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: end;
    text-align: end;   
}

.subtitulo h3 {
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 450px;
}

/* SEÇÃO 2 */

.secao2 {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 4%;
    padding-bottom: 10%;
}

.secao2 .container {
    border-bottom: #EDB91F solid 2px;
    padding-bottom: 5%;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.secao2 h2, .secao3 h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #EDB91F;
    user-select: none;
}

.secao2 .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 3%;
}

p {
    font-size: 130%;
}

#button_saiba_mais {
    padding: 10px 70px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #D268CC;
    font-size: large;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.secao2 .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    user-select: none;
}

#img_secao2 {
    height: auto;
    width: 90%;
}

/* SEÇÃO 3 */

.secao3 {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.secao3 .container {
    flex-direction: column;
    gap: 5%;
}


#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  #menu{
    position: fixed;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    padding: 1.2rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: solid 3px #163170;
    border-radius: 15px;
    margin-top: 50px;
    z-index: 10;
  }

  #menu.hide, 
#fade.hide{
  opacity: 0;
  pointer-events: none;
}

#menu.hide{
  left: 0;
}

#fade,#menu{
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}