.conteudo_body {
    display: flex;
    height: 100%;
    padding-top: 12vh;
}

.galeria {
    display: flex;
    flex-direction: column;
    width: 77%;
}

.banner {
    display: flex;
    justify-content: center;
    height: 27vh;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.507);
    background-blend-mode: darken;
    user-select: none;
}

.conteudo_galeria {
    display: flex;
    justify-content: center;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 7%;
    gap: 10px;
}

.container_conteudo h2 {
    color: #EDB91F;
    margin-top: 35px;
}

.container_conteudo p {
    font-size: 1.4vw;
}

.container_conteudo h3 {
    font-size: 2vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 15px;
    user-select: none;
}

.container_conteudo h4 {
    font-size: 1.7vw;
    margin-top: 3%;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img img {
    max-height: 70vh;
}

.img .legenda {
    font-size: 1rem;
    margin-top: 8px;
}

/* calculadora */

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.radio_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.radio {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#campos_calculadora {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input_calculadora {
    width: 38%;
    padding: 10px;
    border: 1px solid #EDB91F;
    border-radius: 8px;
    font-size: 1.2vw;
}

.calculadora button {
    padding: 10px 15px;
    font-size: 1.2vw;
    font-weight: 600;
    background-color: #DFA802;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    margin-left: 1%;
    cursor: pointer;
}

.calculadora button:hover { 
    background-color: transparent;
    color: #DFA802;
    border: 1px solid #DFA802;
    transition: 0.3s;
}

/* comentários */

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentario_box {
    display: flex;
    margin-left: 5px;
    gap: 1%;
    user-select: none;
}

textarea {
    width: 85%;
    height: 35px;
    font-size: 1.1vw;
    padding-left: 5px;
    padding-top: 5px;
    resize: none; 
    outline: none;
}

.comentario_box button {
    padding: 10px 10px;
    background-color: #EDB91F;
    color: white;
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

.comentario_box button:hover {
    background-color: white;
    color: #EDB91F;
    border: 1px solid #EDB91F;
    transition: 0.4s;
}

#div_comentarios {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 5%;
}

.publicacao {
    display: flex;
    flex-direction: column;
    border-top: 1px rgb(158, 158, 158) solid;
    padding: 10px;
    gap: 8px;
}

.publicacao h4 {
    font-size: 1.3vw;
    user-select: none;
}

.publicacao p {
    font-size: 1.1vw;
}

/* imagens dos banners */
#banner_galeria {
    background-image: url('../img/banner-galeria.jpg');
}

#banner_anatomia {
    background-image: url('../img/banner-anatomia.jpg');
}

#banner_dicas {
    background-image: url('../img/banner-dicas.jpg');
}

/* navegação */

.galeria .container {
    display: flex;
    align-items: center;
    font-size: 7vh;
    font-weight: 500;
    width: 75%;
}

.nav_secoes {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    align-items: center;
    border-left: 2px #EDB91F solid;
    user-select: none;
}

.container_nav {
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin-top: 10%;
}

.lista{ 
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-bottom: 5%;
}

.nav_secoes h3 {
    font-size: 1.8vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 10%;
}

.nav_secoes h4 {
    font-size: 1.5vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 5%;
}

ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
}

ul li{
    width: fit-content;
    margin-bottom: 5%;
    transition: 0.2s;
}

ul li:hover, ul a:hover {
    color: #EDB91F;
    transition: 0.2s;
}

ul a{
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}