.conteudo_body {
    display: flex;
    height: 100%;
    padding-top: 12vh;
}

.galeria {
    display: flex;
    flex-direction: column;
    width: 77%;
}

#div_galeria_index {
    height: 90vh;
}

.banner {
    display: flex;
    justify-content: center;
    height: 27vh;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.507);
    background-blend-mode: darken;
    user-select: none;
}

.conteudo_galeria {
    display: flex;
    justify-content: center;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 7%;
    gap: 10px;
}

.container_conteudo h2 {
    color: #EDB91F;
    margin-top: 35px;
}

.container_conteudo p, .topicos li {
    font-size: 1.4vw;
}

.container_conteudo h3 {
    font-size: 2vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 15px;
    user-select: none;
}

.topicos {
    display: flex;
    flex-direction: column;
}

.topicos li {
    list-style: inside;
    margin-bottom: 10px;
}

.topicos p {
    margin-bottom: 10px;
}

.img {
    display: flex;
    width: fit-content;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img img {
    max-height: 70vh;
    max-width: 60vw;
    transition: transform 0.3s ease;
}

.img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img:hover .legenda {
    transform: translateY(20px); /* Define o valor de deslocamento vertical da legenda */
}  

.img .legenda {
    font-size: 1rem;
    margin-top: 8px;
    transition: transform 0.3s ease;
}

/* comentários */

.comentarios {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.comentario_box {
    display: flex;
    margin-left: 5px;
    gap: 1%;
    user-select: none;
}

textarea {
    width: 85%;
    height: 35px;
    font-size: 1.1vw;
    padding-left: 5px;
    padding-top: 5px;
    resize: none; 
    outline: none;
}

.comentario_box button {
    padding: 10px 10px;
    background-color: #EDB91F;
    color: white;
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

.comentario_box button:hover {
    background-color: white;
    color: #EDB91F;
    border: 1px solid #EDB91F;
    transition: 0.4s;
}

#div_comentarios {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.publicacao {
    display: flex;
    flex-direction: column;
    border-top: 1px rgb(158, 158, 158) solid;
    padding: 10px;
    gap: 8px;
}

.publicacao h4 {
    font-size: 1.3vw;
    user-select: none;
}

.publicacao p {
    font-size: 1.1vw;
}

/* imagens dos banners */
#banner_galeria {
    background-image: url('../img/banner-galeria.jpg');
}

#banner_anatomia {
    background-image: url('../img/banner-anatomia.jpg');
}

#banner_paisagem {
    background-image: url('../img/banner-paisagem.jpg');
}

#banner_dicas {
    background-image: url('../img/banner-dicas.jpg');
}

#banner_teoria_cores {
    background-image: url('../img/banner-teoria-cores.jpg');
}

#banner_realismo {
    background-image: url('../img/banner-realismo.jpg');
}

#banner_personagens {
    background-image: url('../img/banner-personagens.jpg');
}

#banner_traco_textura {
    background-image: url('../img/banner-traco-textura.jpg');
}

#banner_aquarela {
    background-image: url('../img/banner-aquarela.jpg');
}


/* navegação */

.galeria .container {
    display: flex;
    align-items: center;
    font-size: 7vh;
    font-weight: 500;
    width: 75%;
}

.nav_secoes {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 23%;
    height: 100%;
    align-items: center;
    border-left: 2px #EDB91F solid;
    user-select: none;
    right: 0;
}

.container_nav {
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin-top: 7%;
}

.lista{ 
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-bottom: 5%;
}

.nav_secoes h3 {
    font-size: 1.8vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 7%;
}

.nav_secoes h4 {
    font-size: 1.5vw;
    font-weight: 600;
    color: #EDB91F;
    margin-bottom: 5%;
}

.nav_secoes ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
}

.nav_secoes ul li{
    width: fit-content;
    margin-bottom: 3%;
    transition: 0.2s;
}

.nav_secoes ul li:hover, .nav_secoes ul a:hover {
    color: #EDB91F;
    transition: 0.2s;
}

.nav_secoes ul a{
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}