
body {
    background-image: url('../img/background-cadastro.jpg');
    background-size: cover;
}

/* MODAL */
.modal {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.451);
}

#modal_box{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 5%;
    padding: 40px;
    gap: 20px;
    background-color: white;
    border-radius: 40px;
}

.modal h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #EDB91F;
    user-select: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal .input {
    display: flex;
    flex-direction: column;
}

.modal input {
    height: 35px;
    padding-left: 3px;
    font-size: 0.9rem;
    border: none;
    border-bottom: solid black 1px;
    outline: none;
}

.modal .select {
    display: flex;
    gap: 2%;
    align-items: center;
}

select {
    height: 35px;
    width: 78%;
    font-size: 0.9rem;
    border: none;
    border-bottom: solid black 1px;
    outline: none;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

#button_cadastrar {
    padding: 10px 20px;
    height: 100%;
    background-color: #DFA802;
    font-size: medium;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none; 
    cursor: pointer;
    transition: 0.7s;
}

#button_cadastrar:hover {
    box-shadow: 0 0 5px #ffd65b, 0 0 25px #ffd65b, 0 0 50px #ffd65b;
    transition: 0.7s;
}

#button_entrar {
    height: 100%;
    padding: 10px 20px;
    background-color: transparent;
    font-size: large;
    font-weight: 600;
    color: #DFA802;
    border: 1px solid #DFA802;
    border-radius: 8px;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

#button_entrar:hover {
    background-color: #DFA802;
    color: white;
    transition: 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #DFA802;
}

#frase_cadastro {
    display: flex;
    gap: 5px;
}